<p-card >
  <ng-template pTemplate="header">
    <h1 class="p-3 m-0 pb-0">{{ title }}</h1>
  </ng-template>

  <section>
    <div class="selection">
      <h2 class="mb-2">Select two Year to compare</h2>
      <form class="p-fluid"
            [formGroup]="form" (ngSubmit)="submitForm()"
            lossMonitor [lossRouteFilter]="activatedRoute">
        <div class="grid">
          <div class="field col-12 md:col-6">
            <label>
              Year1
              <app-required-field-indicator></app-required-field-indicator>
            </label>

            <p-calendar [inputId]="'year1'" formControlName="year1" view="year" dateFormat="yy"/>

            <app-form-control-errors controlName="year1"></app-form-control-errors>
          </div>

          <div class="field col-12 md:col-6">
            <label>
              Year2
              <app-required-field-indicator></app-required-field-indicator>
            </label>

            <p-calendar [inputId]="'year2'" formControlName="year2"  view="year" dateFormat="yy"/>
            <app-form-control-errors controlName="year2"></app-form-control-errors>
          </div>


          <button type="submit" [disabled]="!form.valid"
                  pButton class="p-button-success not-fluid">
            Select
          </button>
        </div>
      </form>
    </div>
  </section>

  <h3  class="mb-0" *ngIf="!isLoading() && !hasError()">{{ year1Result }} - {{ year2Result }}</h3>

  <div class="loading" *ngIf="isLoading()">
    <i class="pi pi-spin pi-spinner-dotted"></i>
  </div>

  <div class="error" *ngIf="hasError()">
    <p>Error Loading The data. Please try again!</p>
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" [raised]="true" severity="info" (click)="retry()"/>
  </div>

  <div *ngIf="!isLoading() && !hasError()">
    <section class="mt-8">

    <p-card>
        <app-double-line-chart *ngIf="transformedData" [data]="transformedData"
                               [line1Label]="year1Result"
                               [line2Label]="year2Result"
                               yAxisTitle="Value({{ getDashboardMeasurementTypeText(this.sensorType) }})"
                               xAxisTitle="Date Time"
        ></app-double-line-chart>
      </p-card>
    </section>
  </div>

</p-card>

