<ng-container *transloco="let t">
  <p-panel class="no-content-padding" [header]="t('customRules.view.header')">
    <ng-template pTemplate="icons">
      <app-panel-header-actions [items]="panelMenu | dynamicMenu"/>
    </ng-template>

    <app-details-list-entry [label]="t('customRules.fields.id')">
      {{ item.id | number: '1.0-99' }}
    </app-details-list-entry>

    <app-details-list-entry [label]="t('customRules.fields.sensor')">
      <a [routerLink]="['../../../sensors/view', item.sensor.id]">
        <app-sensor-representing [sensor]="item.sensor" />
      </a>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('customRules.fields.id')">
      {{ item.id | number: '1.0-99' }}
    </app-details-list-entry>

    <app-details-list-entry [label]="t('customRules.fields.min')">
      {{ item.min | number: '1.0-99' }}
    </app-details-list-entry>

    <app-details-list-entry [label]="t('customRules.fields.max')">
      {{ item.max | number: '1.0-99' }}
    </app-details-list-entry>

    <app-details-list-entry [label]="t('customRules.fields.program_directive')">
      <ng-container *appNullReplacer="item.programDirective">
        <ng-container *appEmptyReplacer="item.programDirective">
          {{ item.programDirective }}
        </ng-container>
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('customRules.fields.rule_text')">
      <ng-container *appNullReplacer="item.ruleText">
        <ng-container *appEmptyReplacer="item.ruleText">
          {{ item.ruleText }}
        </ng-container>
      </ng-container>
    </app-details-list-entry>
  </p-panel>

  <app-deletion-confirm-dialog
      [(isOpen)]="isDeleteDialogOpen"
      [itemDeletedName]="representingService.getLabel(item).value"
      (accepted)="delete()" [inProgress]="deleteMonitor.isSubscribed"
    />
</ng-container>
