<h1>
  {{ sensorType }}
</h1>
<div class="grid">
  <div class="col-12 lg:col-9 mb-6">
    <app-live-data-for-sensor [sensorType]="sensorType"></app-live-data-for-sensor>
  </div>
  <div class="col-12 lg:col-3 liveGauge mb-6">
    <app-live-gauge [sensorType]="sensorType"></app-live-gauge>
  </div>
  <div class="col-12 mb-6">
    <app-rules-legend
      [sensorType]="sensorType"
      title="Custom Rules Legend">

    </app-rules-legend>
  </div>
  <div class="col-12 md:col-6 mb-6">
    <app-historical-data-by-interval-for-sensor [sensorType]="sensorType"
                                                [interval]="DashboardIntervalTypeEnum.Hourly"
                                                widgetId="HourlyWidget"
                                                title="Hourly Data"
    ></app-historical-data-by-interval-for-sensor>
  </div>
  <div class="col-12 md:col-6 mb-6">
    <app-historical-data-by-interval-for-sensor [sensorType]="sensorType"
                                                [interval]="DashboardIntervalTypeEnum.Daily"
                                                widgetId="DailyWidget"
                                                title="Daily Data"
    ></app-historical-data-by-interval-for-sensor>
  </div>
  <div class="col-12 md:col-6 mb-6">
    <app-historical-data-by-interval-for-sensor [sensorType]="sensorType"
                                                [interval]="DashboardIntervalTypeEnum.Weekly"
                                                widgetId="WeeklyWidget"
                                                title="Weekly Data"
    ></app-historical-data-by-interval-for-sensor>
  </div>
  <div class="col-12 md:col-6 mb-6">
    <app-historical-data-by-interval-for-sensor [sensorType]="sensorType"
                                                [interval]="DashboardIntervalTypeEnum.Monthly"
                                                widgetId="MonthlyWidget"
                                                title="Monthly Data"
    ></app-historical-data-by-interval-for-sensor>
  </div>
  <div class="col-12 md:col-6 mb-6">
    <app-historical-data-by-interval-for-sensor [sensorType]="sensorType"
                                                [interval]="DashboardIntervalTypeEnum.Yearly"
                                                widgetId="YearlyWidget"
                                                title="Yearly Data"
    ></app-historical-data-by-interval-for-sensor>
  </div>
  <div class="col-12 md:col-6 mb-6">
    <app-year-to-date-comparison [sensorType]="sensorType"
                                 widgetId="YTDComparison"
                                 title="Monthly YTD Comparison"
    ></app-year-to-date-comparison>
  </div>

</div>

