<p-card [header]="title">
  <div class="loading" *ngIf="isLoading()">
    <i class="pi pi-spin pi-spinner-dotted"></i>
  </div>

  <div class="errorMessage" *ngIf="hasError()">
    <p>Error Loading The data or data too old. Please try again!</p>
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" [raised]="true" severity="info" (click)="retry()"/>
  </div>

  <div *ngIf="!isLoading() && !hasError()">

    <div class="grid">
      <div *ngFor="let item of customRules" class="p-1 col-12 md:col-4 lg:col-3">
        <p-card>
          <div class="flex gap-3 mb-3 flex-wrap	">
            <span class="color-swatch" [style.background]="item.programDirective"></span>
            <div class="font-bold">
              <span *ngIf="item.min !== null">{{ item.min }} ≤ </span>
              Value
              <span *ngIf="item.max !== null"> ≤ {{ item.max }}</span>
            </div>
          </div>
          <div>
            <div class="font-light">{{ item.ruleText }}</div>
          </div>
        </p-card>
      </div>
    </div>
  </div>

</p-card>
