<ng-container *transloco="let t" appIdNamespace="sensors-manage-">
  <p-panel
    #managePanel
    [header]="manageMode == 'Edit' ? t('sensors.manage.header.edit') : t('sensors.manage.header.add')"
  >
    <ng-template pTemplate="icons">
      <app-panel-header-actions [items]="panelMenu | dynamicMenu"/>
    </ng-template>

    <form class="p-fluid"
          [formGroup]="form" (ngSubmit)="submitForm()"
          lossMonitor [lossRouteFilter]="activeRoute">
      <div class="field">
        <label namespacedFor="name">
          {{ t('sensors.fields.name') }}
          <app-required-field-indicator></app-required-field-indicator>
        </label>
        <input namespacedId="name" formControlName="name"
               pInputText type="text">
        <app-form-control-errors controlName="name"></app-form-control-errors>
      </div>

      <div class="field">
        <label namespacedFor="description">
          {{ t('sensors.fields.description') }}
        </label>
        <input namespacedId="description" formControlName="description"
               pInputText type="text">
        <app-form-control-errors controlName="description"></app-form-control-errors>
      </div>

      <div>
        <button type="submit" [disabled]="!form.valid"
                pButton class="p-button-success not-fluid"
                [label]="manageMode == 'Edit' ? t('buttons.saveChanges') : t('buttons.saveCreate')">
        </button>
      </div>
    </form>
  </p-panel>

  <p-blockUI [blocked]="formDisabler.monitor.isSubscribed" [target]="managePanel">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
</ng-container>
