<!-- TODO: loc + better/common style classes -->

<ng-container *transloco="let t" appIdNamespace="auth-confirm-email-">
  <div class="w-full md:w-10 mx-auto">
    <div class="mb-5 text-center">
      <div class="text-900 text-3xl font-medium">Confirm email</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitForm()"
          lossMonitor [lossRouteFilter]="activatedRoute">
      <div class="mb-3">
        <label namespacedFor="email" class="block text-900 text-xl font-medium mb-2">Email</label>
        <input namespacedId="email" formControlName="email"
               pInputText type="text" placeholder="Email address"
               class="w-full p-3">
        <app-form-control-errors controlName="email"></app-form-control-errors>
      </div>

      <div class="mb-3">
        <label namespacedFor="code" class="block text-900 text-xl font-medium mb-2">Code</label>
        <input namespacedId="code" formControlName="code"
               pInputText type="text" placeholder="Code"
               class="w-full p-3">
        <app-form-control-errors controlName="code"></app-form-control-errors>
      </div>

      <button pButton type="submit"
              [disabled]="form.invalid"
              label="Submit"
              class="w-full p-3 text-xl mt-3">
      </button>
    </form>

    <div class="text-center mt-3">
      <div>
        <a routerLink="../resend-email-confirmation">I don't have a code</a>
      </div>
      <div>
        Back to <a routerLink="../login">{{ t('auth.login.header') }}</a>
      </div>
    </div>
  </div>
</ng-container>
