.blue_bg{
  background-color: #9FC5E8 !important;
}

.red_bg{
  background-color: #FF0000 !important;
}

.green_bg{
  background-color: #8FCE00 !important;
}

.yellow_bg{
  background-color: #F1C232 !important;
}

.grey_bg{
  background-color: #999999 !important;
}




.color-box {
  width: 15px;
  max-width: 15px;
  min-width: 15px;
  height: 15px;
  max-height: 15px;
  min-height: 15px;
  content: "";
  padding: 15px;

}


ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.125em;
}


 ul li:not(:last-child){
  margin-right: 0.75em;
}

 ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .75em;
}



 h2 {
  margin-bottom: 10px;
}

 .content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 5px solid #000;
}
