<!-- TODO: loc -->
<ng-container *transloco="let t" appIdNamespace="account-manage-password-">
  <p-panel #managePanel header="Change password">
    <form class="p-fluid"
          [formGroup]="form" (ngSubmit)="submitForm()"
          lossMonitor [lossRouteFilter]="activatedRoute">
      <div class="field">
        <label namespacedFor="currentPassword">
          Current password
          <app-required-field-indicator></app-required-field-indicator>
        </label>
        <p-password [inputId]="'currentPassword' | namespaceId" formControlName="currentPassword"
                    [toggleMask]="true" [feedback]="false">
        </p-password>
        <app-form-control-errors controlName="currentPassword"></app-form-control-errors>
      </div>

      <div class="field">
        <label namespacedFor="newPassword">
          New password
          <app-required-field-indicator></app-required-field-indicator>
        </label>
        <p-password [inputId]="'newPassword' | namespaceId" formControlName="newPassword"
                    [toggleMask]="true">
        </p-password>
        <app-form-control-errors controlName="newPassword"></app-form-control-errors>
      </div>

      <div class="field">
        <label namespacedFor="confirmPassword">
          Confirm password
          <app-required-field-indicator></app-required-field-indicator>
        </label>
        <p-password [inputId]="'confirmPassword' | namespaceId" formControlName="confirmPassword"
                    [toggleMask]="true" [feedback]="false">
        </p-password>
        <app-form-control-errors controlName="confirmPassword"></app-form-control-errors>
      </div>

      <div>
        <button type="submit" [disabled]="!form.valid"
                pButton class="p-button-success not-fluid"
                label="Change">
        </button>
      </div>
    </form>
  </p-panel>

  <p-blockUI [blocked]="formDisabler.monitor.isSubscribed" [target]="managePanel">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
</ng-container>
