<ng-container *transloco="let t">
  <p-panel class="no-content-padding" [header]="t('devices.view.header')">
    <ng-template pTemplate="icons">
      <app-panel-header-actions [items]="panelMenu | dynamicMenu"/>
    </ng-template>

    <app-details-list-entry [label]="t('devices.fields.id')">
      {{ item.id | number: '1.0-99' }}
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.name')">
      <ng-container *appEmptyReplacer="item.name">
        {{ item.name }}
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.nickname')">
      <ng-container *appNullReplacer="item.nickname">
        <ng-container *appEmptyReplacer="item.nickname">
          {{ item.nickname }}
        </ng-container>
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.description')">
      <ng-container *appNullReplacer="item.description">
        <ng-container *appEmptyReplacer="item.description">
          {{ item.description }}
        </ng-container>
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.model')">
      <ng-container *appNullReplacer="item.model">
        <ng-container *appEmptyReplacer="item.model">
          {{ item.model }}
        </ng-container>
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.latitude')">
      <ng-container *appNullReplacer="item.latitude">
        {{ item.latitude | number: '1.0-99' }}
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.longitude')">
      <ng-container *appNullReplacer="item.longitude">
        {{ item.longitude | number: '1.0-99' }}
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.installedDate')">
      <ng-container *appNullReplacer="item.installedDate">
        <app-date-time-display [value]="item.installedDate"></app-date-time-display>
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('devices.fields.uid')">
      <ng-container *appNullReplacer="item.uid">
        <ng-container *appEmptyReplacer="item.uid">
          {{ item.uid }}
        </ng-container>
      </ng-container>
    </app-details-list-entry>
  </p-panel>

  <app-deletion-confirm-dialog
      [(isOpen)]="isDeleteDialogOpen"
      [itemDeletedName]="representingService.getLabel(item).value"
      (accepted)="delete()" [inProgress]="deleteMonitor.isSubscribed"
    />
</ng-container>
