<ng-container *transloco="let t">
  <p-dialog [(visible)]="isOpen" header="Deletion"
            [modal]="true" [draggable]="false" [closable]="false">

    <!-- TODO: (1) icon (2) translate header and content -->
    <div>
      <div>
        Are you sure you want to delete
        <ng-container *ngIf="isDraft">draft </ng-container>
        <strong>{{ itemDeletedName }}</strong>?
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="buttons-container">
        <div class="spinner-container" *ngIf="inProgress">
          <i class="pi pi-spin pi-spinner"></i>
        </div>

        <button type="button" pButton
                [disabled]="inProgress"
                [label]="t('buttons.cancel')" (click)="onReject()">
        </button>

        <button type="button" pButton class="p-button-danger"
                [disabled]="inProgress"
                [label]="t('buttons.delete')" (click)="onAccept()">
        </button>
      </div>
    </ng-template>
  </p-dialog>
</ng-container>
