<p-card header="Legend">

  <div class="content">
    <ul>
      <li>
        <span class="color-box blue_bg"></span>
        <span class="legend-title"> Measurements </span>
      </li>
      <li>
        <span class="color-box red_bg"> </span>
        <span class="legend-title"> Min Values </span>
      </li>
      <li>
        <span class="color-box green_bg"> </span>
        <span class="legend-title"> Max Values </span>
      </li>
      <li>
        <span class="color-box yellow_bg"></span>
        <span class="legend-title"> Avg Values </span>
      </li>
      <li>
        <span class="color-box grey_bg"></span>
        <span class="legend-title"> Standard Deviation </span>
      </li>
    </ul>
  </div>

</p-card>
