<p-card header="Live Gauge">
  <div class="loading" *ngIf="isLoading()">
    <i class="pi pi-spin pi-spinner-dotted"></i>
  </div>

  <div class="errorMessage" *ngIf="hasError()">
    <p>{{ errorMessage }}</p>
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" [raised]="true" severity="info" (click)="retry()"/>
  </div>

  <div *ngIf="!isLoading() && !hasError()">
    <p class="liveMeasurement">
      {{ liveMeasurement }}
    <span [innerHTML]="liveMeasurementType"></span>
    </p>
  </div>
</p-card>
