<ng-container *transloco="let t" appIdNamespace="dashboard-tile-manage-">
  <form
    [formGroup]="form"
    (ngSubmit)="onAccept()"
    lossMonitor
    [lossRouteFilter]="activatedRoute">

    <!-- Note: closable & friends are only reacted to when the dialog is opening, not while it's already open -->
    <p-dialog
      [visible]="isVisible"
      (visibleChange)="onVisibleChange($event)"
      [header]="mode == ManageComponentMode.Edit ? 'Edit tile' : 'Add tile'"
      [closable]="false"
      [closeOnEscape]="false"
      [dismissableMask]="false"
      [modal]="true">
      <div class="p-fluid">
        <div class="field">
          <label namespacedFor="type">
            Tile type
            <app-required-field-indicator></app-required-field-indicator>
          </label>
          <p-dropdown [options]="TileTypeSpec | appTranslatedEnumOptions" [formControl]="form.controls.type"
                      optionLabel="display" optionValue="value" appPlaceholder
                      [autoDisplayFirst]="false" appendTo="body">
          </p-dropdown>
          <app-form-control-errors controlName="type"/>
        </div>

        <!-- Predefined vis -->
        <ng-container
          *ngIf="form.controls.predefinedVisOptions.enabled"
          [formGroup]="form.controls.predefinedVisOptions">
          <div class="field">
            <label namespacedFor="type">
              Visualization type
              <app-required-field-indicator></app-required-field-indicator>
            </label>
            <p-dropdown [options]="PredefinedVisTypeSpec | appTranslatedEnumOptions"
                        [formControl]="form.controls.predefinedVisOptions.controls.type"
                        optionLabel="display" optionValue="value"
                        appPlaceholder appFilterPlaceholder
                        [autoDisplayFirst]="false" appendTo="body" [filter]="true">
            </p-dropdown>
            <app-form-control-errors controlName="type"/>
          </div>
        </ng-container>
      </div>

      <ng-template pTemplate="footer">
        <button type="button" pButton class="p-button-danger mr-3"
                [label]="t('buttons.cancel')" (click)="forceDiscard()">
        </button>

        <button type="submit" pButton [disabled]="form.invalid"
                label="Save">
        </button>
      </ng-template>
    </p-dialog>
  </form>
</ng-container>
