<ng-container *transloco="let t">
  <p-panel class="no-content-padding" [header]="t('sensorDeviceDatas.view.header')">
    <ng-template pTemplate="icons">
      <app-panel-header-actions [items]="panelMenu | dynamicMenu"/>
    </ng-template>

    <app-details-list-entry [label]="t('sensorDeviceDatas.fields.id')">
      {{ item.id | number: '1.0-99' }}
    </app-details-list-entry>

    <app-details-list-entry [label]="t('sensorDeviceDatas.fields.sensorDevice')">
      <a [routerLink]="['../../../sensor-devices/view', item.sensorDevice.id]">
        <app-sensor-device-representing [sensorDevice]="item.sensorDevice" />
      </a>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('sensorDeviceDatas.fields.value')">
      <ng-container *appNullReplacer="item.value">
        {{ item.value | number: '1.0-99' }}
      </ng-container>
    </app-details-list-entry>

    <app-details-list-entry [label]="t('sensorDeviceDatas.fields.recordDate')">
      <app-date-display [value]="item.recordDate"></app-date-display>
    </app-details-list-entry>
  </p-panel>

  <app-deletion-confirm-dialog
      [(isOpen)]="isDeleteDialogOpen"
      [itemDeletedName]="representingService.getLabel(item).value"
      (accepted)="delete()" [inProgress]="deleteMonitor.isSubscribed"
    />
</ng-container>
