<ng-container *transloco="let t">
<p-card [header]="title">
  <section>
    <div class="selection">
      <h2 class="mb-2">{{ t('liveData.header') }}</h2>
      <form class="p-fluid"
            [formGroup]="form" (ngSubmit)="submitForm()"
            lossMonitor [lossRouteFilter]="activatedRoute">
        <div class="field">
          <label>
            {{ t('liveData.fields.device') }}
            <app-required-field-indicator></app-required-field-indicator>
          </label>

          <p-dropdown [inputId]="'device'" formControlName="device"
                      [options]="(availableDevicesOptions$ | async) ?? []"
                      optionValue="entry" optionLabel="label"
                      appPlaceholder appFilterPlaceholder
                      [filter]="true" [autoDisplayFirst]="true"/>
          <app-form-control-errors controlName="device"></app-form-control-errors>
        </div>
        <div>
          <button type="submit" [disabled]="!form.valid"
                  pButton class="p-button-success not-fluid">
            {{ t('liveData.button') }}
          </button>
        </div>
      </form>
    </div>
  </section>

  <h3  class="mb-0" *ngIf="!isLoading() && !hasError()">{{ selectedDevice }}</h3>

  <div class="loading" *ngIf="isLoading()">
    <i class="pi pi-spin pi-spinner-dotted"></i>
  </div>

  <div class="error" *ngIf="hasError()">
    <p>{{ t('liveData.error_message') }}</p>
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" [raised]="true" severity="info" (click)="retry()"/>
  </div>

  <div *ngIf="!isLoading() && !hasError()">
      <p-card>
        <app-live-line-chart *ngIf="transformedData" [jsonData]="transformedData"
        yAxisTitle="{{ t('liveData.value') }}({{ getDashboardMeasurementTypeText(this.sensorType) }})"
        xAxisTitle="{{ t('liveData.date_time') }}"
        ></app-live-line-chart>
      </p-card>
  </div>

</p-card>
</ng-container>
