<ng-container [appLoadableAutoManage]="dataLoadable"/>
<section>
  <div class="selection">
    <h2 class="mb-2">Please select one of the Available or Available Devices</h2>
    <form class="p-fluid"
          [formGroup]="form" (ngSubmit)="submitForm()"
          lossMonitor [lossRouteFilter]="activatedRoute">
      <div class="field">
        <label>
          Device
          <app-required-field-indicator></app-required-field-indicator>
        </label>

        <p-dropdown [inputId]="'device'" formControlName="device"
                    [options]="(availableDevicesOptions$ | async) ?? []"
                    optionValue="entry" optionLabel="label"
                    appPlaceholder appFilterPlaceholder
                    [filter]="true" [autoDisplayFirst]="true"/>
        <app-form-control-errors controlName="device"></app-form-control-errors>
      </div>
      <div>
        <button type="submit" [disabled]="!form.valid"
                pButton class="p-button-success not-fluid">
          Select
        </button>
      </div>
    </form>
  </div>
</section>


<div class="loading" *ngIf="isLoading()">
  <i class="pi pi-spin pi-spinner-dotted"></i>
</div>

<div class="error" *ngIf="hasError()">
  <p>Error Loading The data. Please try again!</p>
  <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" [raised]="true" severity="info" (click)="retry()"/>
</div>

<div *ngIf="!isLoading() && !hasError()">
    <section class="my-8">
      <p-card
        header="header">
        <app-live-line-chart *ngIf="transformedData" [jsonData]="transformedData"></app-live-line-chart>      </p-card>
    </section>
</div>



